.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--color-text);
    background-color: var(--color-background-header);
}

/* =========================
   HEADER ESCRITORIO
   ========================= */

.desktopHeader {
    display: flex;
}

.mobileHeader {
    display: none;
}

.mobileNav {
    display: none;
}

.container {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-logo-header);
}

.logo:hover {
    color: var(--color-logo-hover-header);
    transition: color 0.2s;
}

.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
}

.auth {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth a {
    text-decoration: none;
}

.buttonHeader {
    padding: 8px 14px;
    border-radius: 6px;
    background-color: var(--color-surface);
    color: var(--color-text);
    border: 1px solid var(--color-text);
}

.buttonHeader:hover {
    background-color: var(--color-hover);
    transition: background-color 0.2s;
}

.register {
    padding: 8px 14px;
    border-radius: 6px;
    background-color: var(--color-button-header);
    color: var(--color-text-button-header);
}

.register:hover {
    background-color: var(--color-button-header);
    transition: background-color 0.2s;
}

.login {
    padding: 8px 14px;
    border-radius: 6px;
    background-color: var(--color-button-header);
    color: var(--color-text-button-header);
}

.login:hover {
    background-color: var(--color-button-header);
    transition: background-color 0.2s;
}


.cerrarSesion {
    padding: 8px 14px;
    border-radius: 6px;
    background-color: var(--color-button-header);
    color: var(--color-text-button-header);
}

.cerrarSesion:hover {
    background-color: var(--color-button-header);
    transition: var(--color-text-button-header);
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text-header); 
    white-space: nowrap;  
}

.profile:hover {
    opacity: 0.8;
}

.queenImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

/* =========================
   HEADER MÓVIL
   ========================= */

@media (max-width: 768px) {

    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .desktopHeader {
        display: none !important;
    }

    .mobileHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 64px;
        padding: 12px 20px;
        box-sizing: border-box;
    }

    .mobileLogo {
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        color: var(--color-logo-header);
    }

    .navContainer{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        gap: 10px;
    }

    .menuButton {
        border: none;
        background: none;
        font-size: 30px;
        cursor: pointer;
        padding: 5px;
        color: var(--color-button);
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        transition: transform 0.2s ease;
    }
    
    .menuIconWhite {
        display: none;
    }

    html[data-theme="dark"] .menuIconBlack {
        display: none;
    }

    html[data-theme="dark"] .menuIconWhite {
        display: block;
    }

    .mobileNav {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 10px;
        background-color: var(--color-surface);
        border: 1px solid var(--color-text);
        border-width: 1px;
        border-bottom-left-radius: 20px;
        gap: 5px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 1001;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .mobileNav a {
        text-decoration: none;
        color: var(--color-text);
        padding: 12px 10px;
        text-align: center;
        border-bottom: 1px solid var(--color-text);
    }

    .mobileNav a:last-child {
        border-bottom: none;
    }

    .mobileAuth {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .avatarHeader {
        width: 60px;
        height: 60px;
        border-radius: 40%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .queenNav {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
    }
}